.ListGroup{
    position: absolute;
}

.link-style{
    text-decoration: none;
    font-family: sans-serif;
    text-align: left;
}

.img-title{
    display: flex;
    align-items: center;
    position: relative;
}

.img-title img{
    width: 60px;
    padding: 10px;
}


