.navbar {
    background-color: #EBD9B4;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;;
}

.navbar img {
    width: 20%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.navbar .links {
    color: #198754;
}