.Carousel:first-child{
    justify-content: center;
    background-size: cover;
}

.Carousel .text {
    display: flex;
    flex-direction: column;
    color: #638889;
}

.text h3{
    font-weight: bolder;
}

.Carousel .last-text h3{
    color: #638889;
    font-weight: bolder;
}

