.Bookcard{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}

.Bookcard .card-img-top {
    padding: 10px;
    background-color:#EBD9B4;
}

.Bookcard .card-body {
    flex-direction: column;
    display: flex;
    color: #638889;
    font-family: sans-serif;
    background-color: #EBD9B4;
    padding: 10px;
}

.Bookcard .card-title {
    font-size:larger;
    display: flex;
    flex-direction: column;
}

.Bookcard .card-text {
    margin-top: auto;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

.bookCards .closebutton-style{
        color: #EBD9B4;
}

.bookCards .closebutton-style:hover {
    color: #638889;
}