.Bookcard:first-child{
    background-color: #EBD9B4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Bookcard .card-img-top {
    padding: 10px;
    background-color: #EBD9B4;
}

.Bookcard .card-body {
    flex-direction: column;
    display: flex;
    color: #638889;
    background-color: #EBD9B4;
    padding: 10px;
}

.Bookcard .card-text {
    font-style: italic;
    font-size: smaller;
}

.author-read{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.bookCards .btn-close{
    align-self: flex-end;
}